body, html{
  background-color: darkblue;
  font-family: 'Work Sans', sans-serif;
}

audio {
  height: 2rem;
  margin-top: 1rem;
  margin-left: 34.3rem;
  width: 16rem;
}

li {
  list-style-type: none;
}

.box-3-1 {
  /* color: #396084; */
  color: blue;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 3.5rem;
  margin-left: 3rem;
  margin-top: 13rem;
}

span {
  font-size: 3rem;
  color: #B3C5D7;
}

.up{
  animation-name: move-up;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 2s;
  font-size: 3rem;
  position: relative;
}

@keyframes move-up{
  0% {
    top: 0rem;
    color: #B3C5D7;
  }
  100% {
    top: -5rem;
    color: darkblue;
  }
}

.down{
  animation-name: move-down;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 3s;
  font-size: 3rem;
  position: relative;
}

@keyframes move-down{
  0% {
    top: 0rem;
    color: #B3C5D7;
  }
  100% {
    top: 10rem;
    color: darkblue;
  }
}

.box-3-2 {
  text-align: center;
  color: blue;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  margin-left: -2rem;
  margin-top: -12.9rem;
}

.around{
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-delay: 6s;
  display: inline-block;
  font-size: 3rem;
  position: relative;
}

@keyframes rotate{
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.box-3-3 {
  font-size: 8rem;
  text-align: right;
  color: darkblue;
  /* color: #C6E2FF; */
  font-weight: 700;
  letter-spacing: -0.1rem;
  line-height: 8rem;
  margin-top: -26rem;
  animation-name: changecolor;
  animation-duration: 5s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
}

@keyframes changecolor{
  0% {
    color: darkblue;
  }
  50% {
    color: blue;
  }
  90% {
    color: lightblue;
  }
  100% {
    color: darkblue;
  }
}
